* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

body {
    background: rgb(25, 25, 25);
}

.card-body {
    font-size: 1.05em;
}

span {
    font-size: 1.5em;
}

.btn {
    margin: 10px;
}